@import vendors/bootstrap/variables-custom
@import vendors/bootstrap/bootstrap

html,
body
  height: 100%
  background-color: #333
  color: #FFF
  display: flex
  justify-content: center
  margin: 0
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased

  // *
  //   user-select: none

/* Links */
a,
a:focus,
a:hover
  color: #fff

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus
  color: #333
  // text-shadow: none // Prevent inheritance from `body`
  background-color: #fff
  border: .05rem solid #fff
